In [1]:
import dotenv
import os
from sqlalchemy import create_engine
import pandas as pd

from dotenv import load_dotenv
dotenv.load_dotenv(override=True)

username = os.getenv("username")
password = os.getenv("password")
host = os.getenv("host")
dbname = os.getenv("dbname")

conn_string = f"mysql+pymysql://{username}:{password}@{host}/{dbname}"
db_engine = create_engine(conn_string)

query = "SELECT * FROM dimproduct"

df = pd.read_sql(query, db_engine)

db_engine.dispose()  # Chiudere sempre il db engine quando lo utilizziamo

df

,ProductKey,ProductAlternateKey,ProductSubcategoryKey,WeightUnitMeasureCode,SizeUnitMeasureCode,EnglishProductName,SpanishProductName,FrenchProductName,StandardCost,FinishedGoodsFlag,...,ChineseDescription,ArabicDescription,HebrewDescription,ThaiDescription,GermanDescription,JapaneseDescription,TurkishDescription,StartDate,EndDate,Status
0,1,AR-5381,NaN,None,None,Adjustable Race,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
1,2,BA-8327,NaN,None,None,Bearing Ball,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
2,3,BE-2349,NaN,None,None,BB Ball Bearing,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
3,4,BE-2908,NaN,None,None,Headset Ball Bearings,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
4,5,BL-2036,NaN,None,None,Blade,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
601,602,BB-8107,5.0,G,None,ML Bottom Bracket,Eje de pedalier GM,Axe de pédalier ML,44.95,1,...,铝合金车圈；大直径脚蹬轴。,فناجين من سبيكة الألومنيوم؛ ذات محور دوران كبي...,כיסויים מסגסוגת אלומיניום; ציר רחב-קוטר.,ดุมอลูมิเนียมอัลลอยด์ แกนเพลาขนาดใหญ่,Außenringe aus Aluminiumlegierung; Radachse mi...,アルミニウム合金カップ、大径スピンドル。,Alüminyum alaşımı orta göbekler; geniş çaplı mil.,2013-07-01,NaT,Current
602,603,BB-9108,5.0,G,None,HL Bottom Bracket,Eje de pedalier GA,Axe de pédalier HL,53.94,1,...,铝合金车圈和空心轴。,فناجين من سبيكة الألومنيوم ومحور أجوف.,כיסויים מסגסוגת אלומיניום וציר חלול.,ดุมอลูมิเนียมอัลลอยด์และเพลากลวง,Außenringe aus Aluminiumlegierung und hohle Ac...,アルミニウム合金カップとホロー アクスル。,Alüminyum alaşımı orta göbekler ve içi boş aks.,2013-07-01,NaT,Current
603,604,BK-R19B-44,2.0,LB,CM,"Road-750 Black, 44","Carretera: 750, negra, 44","Vélo de route 750 noir, 44",343.65,1,...,入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。,إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...,"אופני מבוגרים למתחילים; מציעים רכיבה נוחה ""מחו...",จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...,Ein Erwachsenenrad für Einsteiger; bietet Komf...,エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...,"""Başlangıç seviyesinde yetişkin bisikleti, kır...",2013-07-01,NaT,Current
604,605,BK-R19B-48,2.0,LB,CM,"Road-750 Black, 48","Carretera: 750, negra, 48","Vélo de route 750 noir, 48",343.65,1,...,入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。,إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...,"אופני מבוגרים למתחילים; מציעים רכיבה נוחה ""מחו...",จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...,Ein Erwachsenenrad für Einsteiger; bietet Komf...,エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...,"""Başlangıç seviyesinde yetişkin bisikleti, kır...",2013-07-01,NaT,Current
605,606,BK-R19B-52,2.0,LB,CM,"Road-750 Black, 52","Carretera: 750, negra, 52","Vélo de route 750 noir, 52",343.65,1,...,入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。,إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...,"אופני מבוגרים למתחילים; מציעים רכיבה נוחה ""מחו...",จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...,Ein Erwachsenenrad für Einsteiger; bietet Komf...,エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...,"""Başlangıç seviyesinde yetişkin bisikleti, kır...",2013-07-01,NaT,Current

In [24]:
righe_totali=df.shape
righe_totali

(606, 36)

In [23]:
metadati=df.dtypes
metadati

ProductKey                        int64
ProductAlternateKey              object
ProductSubcategoryKey           float64
WeightUnitMeasureCode            object
SizeUnitMeasureCode              object
EnglishProductName               object
SpanishProductName               object
FrenchProductName                object
StandardCost                    float64
FinishedGoodsFlag                 int64
Color                            object
SafetyStockLevel                  int64
ReorderPoint                      int64
ListPrice                       float64
Size                             object
SizeRange                        object
Weight                          float64
DaysToManufacture                 int64
ProductLine                      object
DealerPrice                     float64
Class                            object
Style                            object
ModelName                        object
LargePhoto                       object
EnglishDescription               object
FrenchDescription                object
ChineseDescription               object
ArabicDescription                object
HebrewDescription                object
ThaiDescription                  object
GermanDescription                object
JapaneseDescription              object
TurkishDescription               object
StartDate                datetime64[ns]
EndDate                  datetime64[ns]
Status                           object
dtype: object

In [22]:
primo=df.head(1)
primo

,ProductKey,ProductAlternateKey,ProductSubcategoryKey,WeightUnitMeasureCode,SizeUnitMeasureCode,EnglishProductName,SpanishProductName,FrenchProductName,StandardCost,FinishedGoodsFlag,...,ChineseDescription,ArabicDescription,HebrewDescription,ThaiDescription,GermanDescription,JapaneseDescription,TurkishDescription,StartDate,EndDate,Status
0,1,AR-5381,NaN,None,None,Adjustable Race,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current

In [21]:
ultimo=df.tail(1)
ultimo

,ProductKey,ProductAlternateKey,ProductSubcategoryKey,WeightUnitMeasureCode,SizeUnitMeasureCode,EnglishProductName,SpanishProductName,FrenchProductName,StandardCost,FinishedGoodsFlag,...,ChineseDescription,ArabicDescription,HebrewDescription,ThaiDescription,GermanDescription,JapaneseDescription,TurkishDescription,StartDate,EndDate,Status
605,606,BK-R19B-52,2.0,LB,CM,"Road-750 Black, 52","Carretera: 750, negra, 52","Vélo de route 750 noir, 52",343.65,1,...,入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。,إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...,"אופני מבוגרים למתחילים; מציעים רכיבה נוחה ""מחו...",จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...,Ein Erwachsenenrad für Einsteiger; bietet Komf...,エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...,"""Başlangıç seviyesinde yetişkin bisikleti, kır...",2013-07-01,NaT,Current

In [12]:
df.sample(5)

,ProductKey,ProductAlternateKey,ProductSubcategoryKey,WeightUnitMeasureCode,SizeUnitMeasureCode,EnglishProductName,SpanishProductName,FrenchProductName,StandardCost,FinishedGoodsFlag,...,ChineseDescription,ArabicDescription,HebrewDescription,ThaiDescription,GermanDescription,JapaneseDescription,TurkishDescription,StartDate,EndDate,Status
410,411,FW-M762,17.0,None,None,ML Mountain Front Wheel,,,92.81,1,...,适用于一般和高级骑乘者的备用山地车轮。,عجلة احتياطية مخصصة للقيادة في الجبال تناسب كا...,גלגל חלופי לרכיבה הררית לרוכב החובב והרציני.,ล้ออะไหล่จักรยานภูเขาสำหรับนักปั่นสมัครเล่นไปจ...,Mountainbike-Ersatzrad für Fortgeschrittene un...,中級者から上級者向けの交換用マウンテン ホイール。,Orta ve ileri seviyedeki sürücüler için yedek ...,2012-07-01,2008-12-27,None
414,415,FW-R820,17.0,G,None,HL Road Front Wheel,Rueda de carretera delantera GA,Roue avant de vélo de route HL,146.55,1,...,具有双层轮缘的坚固车轮。,عجلة قوية بإطار معدني ذي طبقتين.,גלגל חזק עם חישוק בעל הלחמה כפולה.,ล้อที่แข็งแกร่งพร้อมขอบล้อผนังสองชั้น,Starkes Rad mit doppelt beschichteter Felge.,ダブルウォール リムを持つ頑丈なホイール。,İki duvarlı jantlı güçlü tekerlek.,2012-07-01,2008-12-27,None
530,531,FR-M21B-42,12.0,LB,CM,"LL Mountain Frame - Black, 42",,,136.79,1,...,使用与 ML 铝制车架相同的开创性车架技术，经济实惠。,إنها تأتي ضمن أفضل منتجاتنا فنيًا حيث تستخدم ن...,האיכות הטובה ביותר שלנו שמנצלת טכנולוגיית מסגר...,ความคุ้มค่าที่มาพร้อมกับเทคโนโลยีการออกแบบเฟรม...,Unser Topmodell mit derselben bahnbrechenden R...,ML アルミニウム フレームと同じ画期的なフレーム技術を利用した最高の製品。,ML alüminyum kadroyla aynı çığır açıcı kadro t...,2013-07-01,NaT,Current
374,375,BK-R89B-48,2.0,LB,CM,"Road-250 Black, 48","Carretera: 250, negra, 48","Vélo de route 250 noir, 48",1320.68,1,...,铝合金车架确保骑乘轻快、稳固，可用于室内比赛或参加俱乐部的越野活动。,يوفر الهيكل المصنوع من سبيكة ألومنيوم قيادة قو...,מסגרת מסגסוגת אלומיניום מספקת רכיבה קלה ומוצקה...,เฟรมอลูมิเนียมอัลลอยด์ ให้การขับขี่ที่เบา มั่น...,Der Rahmen aus Aluminiumlegierung bietet leich...,レース トラックの走行でもオフロードのツーリングでも、アルミニウム合金のフレームにより、軽さ...,"""Alüminyum alaşımı kadro, ister velodromda yar...",2012-07-01,2008-12-27,None
501,502,FR-T67U-50,16.0,LB,CM,"LL Touring Frame - Blue, 50","Cuadro de paseo GB: azul, 50","Cadre de vélo de randonnée LL - bleu, 50",199.85,1,...,轻型一体式铝制车架，可以更直立的骑乘姿势进行环城游。我们开创性的设计提供了最佳舒适度。,يوفر هيكل الألومنيوم سميك الأطراف خفيف الوزن و...,מסגרת קלת משקל מאלומיניום חרוץ מספקת תנוחת רכי...,เฟรมอลูมิเนียมน้ำหนักเบา ทำให้ท่วงท่าในการขับข...,Leichter Aluminiumrahmen für aufrechte Sitzhal...,軽量接合アルミニウム フレームにより、街乗りに適したアップライトなライディング ポジションを...,"""Hafif alüminyum kadrosu, şehirde yaptığınız y...",2013-07-01,NaT,Current

In [20]:
colori_unici=df["Color"].unique()
colori_unici

array(['NA', 'Black', 'Silver', 'Red', 'White', 'Blue', 'Multi', 'Yellow',
       'Grey', 'Silver/Black'], dtype=object)

In [25]:
media_peso=df["Weight"].mean()
media_peso

56.1932269503546

In [26]:
peso_minimo=df["Weight"].min()
peso_minimo

2.12

In [28]:
peso_massimo=df["Weight"].max()
peso_massimo

1050.0

In [36]:
prodotti_100kg=df[df["Weight"]>100].shape[0]
prodotti_100kg

28

In [50]:
media_costo_prodotti=df["DealerPrice"].mean()
round(media_costo_prodotti,2)

448.6

In [55]:
df_sorted = df.sort_values(by='DealerPrice', ascending=False)
quartile_superiore = df_sorted['DealerPrice'].quantile(0.75)
prodotti_costosi = df_sorted[df_sorted['DealerPrice'] >= quartile_superiore]
prezzo_minimo = prodotti_costosi['DealerPrice'].min()
prezzo_massimo = prodotti_costosi['DealerPrice'].max()
print("Il range di prezzo dei primi 25% dei prodotti più costosi è compreso tra", prezzo_minimo, "e", prezzo_massimo)

Il range di prezzo dei primi 25% dei prodotti più costosi è compreso tra 722.5949 e 2146.962

In [61]:
prodotti_blu = df[df['Color'] == 'Blue']

prezzo_medio_blu = prodotti_blu['DealerPrice'].mean()

prezzo_medio_blu

516.0631785714286

In [69]:
prodotti_rosso_nero = df.query('Color == "Red" | Color == "Black"')

# Calcolare il prezzo medio dei prodotti di colore rosso o nero
prezzo_medio_rosso_nero = prodotti_rosso_nero['DealerPrice'].mean()

# Stampare il prezzo medio
print("Il prezzo medio dei prodotti di colore rosso o nero è:", prezzo_medio_rosso_nero)

Il prezzo medio dei prodotti di colore rosso o nero è: 550.2481873684211

In [72]:
prodotti_taglia42_peso10 = df[(df['Size'] == '42') & (df['Weight']>10)]
prezzo_max = prodotti_taglia42_peso10['DealerPrice'].max()
prezzo_max

2039.994

In [82]:
ultimi_20_elementi = df.tail(20).copy()  # Utilizza il metodo copy() per creare una copia esplicita

# Calcola la differenza tra lo StandardCost e il DealerPrice per ciascun elemento
ultimi_20_elementi.loc[:, 'Differenza'] = ultimi_20_elementi['DealerPrice'] - ultimi_20_elementi['StandardCost']

# Stampiamo la differenza per esaminare i dati
print(ultimi_20_elementi[['StandardCost', 'DealerPrice', 'Differenza']])

# Calcoliamo statistiche descrittive sulla differenza
statistiche_descrittive = ultimi_20_elementi['Differenza'].describe()
print("\nStatistiche descrittive sulla differenza:")
print(statistiche_descrittive)

     StandardCost  DealerPrice  Differenza
586        419.78      461.694      41.914
587        419.78      461.694      41.914
588        419.78      461.694      41.914
589        419.78      461.694      41.914
590        308.22      338.994      30.774
591        308.22      338.994      30.774
592        308.22      338.994      30.774
593        308.22      338.994      30.774
594        308.22      338.994      30.774
595        294.58      323.994      29.414
596        294.58      323.994      29.414
597        294.58      323.994      29.414
598        294.58      323.994      29.414
599        294.58      323.994      29.414
600         23.97       32.394       8.424
601         44.95       60.744      15.794
602         53.94       72.894      18.954
603        343.65      323.994     -19.656
604        343.65      323.994     -19.656
605        343.65      323.994     -19.656

Statistiche descrittive sulla differenza:
count    20.000000
mean     22.640000
std      20.099224
min     -19.656000
25%      18.164000
50%      29.414000
75%      30.774000
max      41.914000
Name: Differenza, dtype: float64

In [86]:
import pandas as pd

# Sostituisci 'nome_file.csv' con il percorso e il nome effettivo del tuo file CSV
df_amazon = pd.read_csv('amazon.csv')

# Visualizza le prime righe del DataFrame per verificare che il file sia stato caricato correttamente
df_amazon

                                              reviewText  Positive
0      This is a one of the best apps acording to a b...         1
1      This is a pretty good version of the game for ...         1
2      this is a really cool game. there are a bunch ...         1
3      This is a silly game and can be frustrating, b...         1
4      This is a terrific game on any pad. Hrs of fun...         1
...                                                  ...       ...
19995  this app is fricken stupid.it froze on the kin...         0
19996  Please add me!!!!! I need neighbors! Ginger101...         1
19997  love it!  this game. is awesome. wish it had m...         1
19998  I love love love this app on my side of fashio...         1
19999  This game is a rip off. Here is a list of thin...         0

[20000 rows x 2 columns]

In [88]:
df_amazon.shape

(20000, 2)

In [89]:
df_amazon.sample(10)

                                              reviewText  Positive
6720   I was an eager but uninitiated novice when I d...         1
3300   You pretty much have to buy in app purchase ju...         0
14839  My kindle notifies me when new comics are avai...         1
18510  This game was very funny and silly. It is grea...         1
7025   I just got it and already love it! its surpris...         1
13722  This was recommmended by a family member.  It ...         1
4010   I am on the road a lot and there are times I n...         1
18319  this is so stupid it just says stuff like don'...         0
3468   Wow... This force closes A LOT! Same thing as ...         0
7642   I got it out of curiosity to see how it would ...         0

In [90]:
df_amazon.columns

Index(['reviewText', 'Positive'], dtype='object')

In [124]:
conteggio_valori = df_amazon['Positive'].value_counts()
percentuale_valori_unici = ((conteggio_valori / len(df_amazon['Positive'])) * 100).round(1)
print(conteggio_valori)

print("La percentuale di dati all'interno della colonna",percentuale_valori_unici)

Positive
1    15233
0     4767
Name: count, dtype: int64
La percentuale di dati all'interno della colonna Positive
1    76.2
0    23.8
Name: count, dtype: float64

In [4]:
import pandas as pd
df_diabete = pd.read_csv("diabetes.csv")

In [127]:
df_diabete.shape

(768, 9)

In [128]:
df_diabete.head(5)

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [130]:
df_diabete.dtypes

Number of times pregnant                                                      int64
Plasma glucose concentration a 2 hours in an oral glucose tolerance test      int64
Diastolic blood pressure (mm Hg)                                              int64
Triceps skin fold thickness (mm)                                              int64
2-Hour serum insulin (mu U/ml)                                                int64
Body mass index (weight in kg/(height in m)^2)                              float64
Diabetes pedigree function                                                  float64
Age (years)                                                                   int64
Class variable                                                                int64
dtype: object

In [5]:
df_diabete.describe()

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [137]:
under_20 = df_diabete.loc[df_diabete['Age (years)'] < 20]
age_20_30 = df_diabete.loc[(df_diabete['Age (years)'] >= 20) & (df_diabete['Age (years)'] < 30)]
age_30_40 = df_diabete.loc[(df_diabete['Age (years)'] >= 30) & (df_diabete['Age (years)'] < 40)]
age_40_50 = df_diabete.loc[(df_diabete['Age (years)'] >= 40) & (df_diabete['Age (years)'] < 50)]
over_50 = df_diabete.loc[df_diabete['Age (years)'] > 50]

# Stampiamo il numero di righe per ogni fascia di età
print("Numero di persone con età inferiore a 20:", len(under_20))
print("Numero di persone con età compresa tra 20 e 30:", len(age_20_30))
print("Numero di persone con età compresa tra 30 e 40:", len(age_30_40))
print("Numero di persone con età compresa tra 40 e 50:", len(age_40_50))
print("Numero di persone con età superiore a 50:", len(over_50))

Numero di persone con età inferiore a 20: 0
Numero di persone con età compresa tra 20 e 30: 396
Numero di persone con età compresa tra 30 e 40: 165
Numero di persone con età compresa tra 40 e 50: 118
Numero di persone con età superiore a 50: 81

In [8]:


import pandas as pd

# Effettua una copia del DataFrame
df_diabete_copy = df_diabete.copy()

# Definisci i bin e le etichette per le fasce di età
bins = [0, 20, 30, 40, 50, float('inf')]
labels = ['<20', '20-30', '30-40', '40-50', '>50']

# Crea una nuova colonna nel DataFrame che contiene le fasce di età
df_diabete_copy['Age Group'] = pd.cut(df_diabete_copy['Age (years)'], bins=bins, labels=labels, include_lowest=True, right=False)

# Calcola la media della pressione sanguigna diastolica per ciascuna fascia di età
media_pressione_per_eta = df_diabete_copy.groupby('Age Group', observed=False)['Diastolic blood pressure (mm Hg)'].mean()

# Stampiamo la media della pressione sanguigna diastolica per le diverse fasce di età
print("Media della pressione sanguigna diastolica per le diverse fasce di età:")
print(media_pressione_per_eta)

Media della pressione sanguigna diastolica per le diverse fasce di età:
Age Group
<20            NaN
20-30    65.348485
30-40    69.666667
40-50    73.940678
>50      78.370787
Name: Diastolic blood pressure (mm Hg), dtype: float64

In [7]:
import pandas as pd

# Calcoliamo la media della pressione sanguigna diastolica per le diverse fasce di età
media_pressione_per_fascia_eta = df_diabete.groupby(pd.cut(df_diabete['Age (years)'], bins=[0, 20, 30, 40, 50, float('inf')], include_lowest=True, right=False), observed=False)['Diastolic blood pressure (mm Hg)'].mean()

# Stampiamo la media della pressione sanguigna diastolica per le diverse fasce di età
print("Media della pressione sanguigna diastolica per le diverse fasce di età:")
print(media_pressione_per_fascia_eta)

# Calcoliamo la media della pressione sanguigna diastolica per ogni singolo anno di età
media_pressione_per_singolo_anno = df_diabete.groupby('Age (years)')['Diastolic blood pressure (mm Hg)'].mean()

# Stampiamo la media della pressione sanguigna diastolica per ogni singolo anno di età
print("\nMedia della pressione sanguigna diastolica per ogni singolo anno di età:")
print(media_pressione_per_singolo_anno)

Media della pressione sanguigna diastolica per le diverse fasce di età:
Age (years)
[0.0, 20.0)           NaN
[20.0, 30.0)    65.348485
[30.0, 40.0)    69.666667
[40.0, 50.0)    73.940678
[50.0, inf)     78.370787
Name: Diastolic blood pressure (mm Hg), dtype: float64

Media della pressione sanguigna diastolica per ogni singolo anno di età:
Age (years)
21    65.936508
22    63.722222
23    64.315789
24    64.956522
25    59.666667
26    64.181818
27    73.500000
28    68.314286
29    68.241379
30    64.857143
31    64.375000
32    70.062500
33    65.647059
34    74.000000
35    75.600000
36    69.125000
37    75.947368
38    71.125000
39    72.666667
40    69.230769
41    67.590909
42    73.388889
43    78.461538
44    61.750000
45    83.066667
46    76.000000
47    78.333333
48    78.400000
49    81.400000
50    78.250000
51    84.500000
52    81.500000
53    79.000000
54    89.333333
55    70.250000
56    76.333333
57    76.800000
58    78.285714
59    74.000000
60    80.000000
61    76.000000
62    71.500000
63    78.000000
64    78.000000
65    78.666667
66    86.000000
67    72.666667
68    82.000000
69    81.000000
70    82.000000
72     0.000000
81    74.000000
Name: Diastolic blood pressure (mm Hg), dtype: float64

In [14]:
import pandas as pd
df_insurance = pd.read_csv("insurance.csv")

In [15]:
df_insurance

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [17]:
df_insurance.shape

(1338, 7)

In [19]:
df_insurance.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [20]:
df_insurance.dtypes

age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

In [22]:


# Calcola le medie delle spese mediche per ciascuna regione
medie_per_regione = df_insurance.groupby('region')['charges'].mean()

# Stampa le medie delle spese mediche per ciascuna regione
print("Medie delle spese mediche per ciascuna regione:")
print(medie_per_regione)

Medie delle spese mediche per ciascuna regione:
region
northeast    13406.384516
northwest    12417.575374
southeast    14735.411438
southwest    12346.937377
Name: charges, dtype: float64

In [35]:
medie_per_fumatore = df_insurance.groupby(['smoker',"region"])['charges'].mean()

# Stampa le medie delle spese mediche per ciascuno status di fumatore
print("Medie delle spese mediche per ciascuno status di fumatore:")
print(medie_per_fumatore)

Medie delle spese mediche per ciascuno status di fumatore:
smoker  region
no      northeast     9165.531672
        northwest     8556.463715
        southeast     8032.216309
        southwest     8019.284513
yes     northeast    29673.536473
        northwest    30192.003182
        southeast    34844.996824
        southwest    32269.063494
Name: charges, dtype: float64

In [36]:
medie_per_sex = df_insurance.groupby(["sex","region"])["charges"].mean()
medie_per_sex

sex     region
female  northeast    12953.203151
        northwest    12479.870397
        southeast    13499.669243
        southwest    11274.411264
male    northeast    13854.005374
        northwest    12354.119575
        southeast    15879.617173
        southwest    13412.883576
Name: charges, dtype: float64

In [38]:
descrittori_bmi = df_insurance['bmi'].describe()
print("Descrittori statistici del BMI:")
print(descrittori_bmi)

# Calcolo dei quartili del BMI
quartili_bmi = pd.qcut(df_insurance['bmi'], q=4)
df_insurance['bmi_quartile'] = quartili_bmi

# Calcolo dei valori minimi, medi e massimi delle spese mediche per ogni quartile di BMI
charges_per_quartile_bmi = df_insurance.groupby('bmi_quartile', observed=False)['charges'].agg(['min', 'mean', 'max'])
print("\nValori minimi, medi e massimi delle spese mediche per ogni quartile di BMI:")
print(charges_per_quartile_bmi)

Descrittori statistici del BMI:
count    1338.000000
mean       30.663397
std         6.098187
min        15.960000
25%        26.296250
50%        30.400000
75%        34.693750
max        53.130000
Name: bmi, dtype: float64

Valori minimi, medi e massimi delle spese mediche per ogni quartile di BMI:
                                    min          mean          max
bmi_quartile
(15.959000000000001, 26.296]  1121.8739  10360.662825  38245.59327
(26.296, 30.4]                1131.5066  11407.831468  62592.87309
(30.4, 34.694]                1135.9407  14358.173081  60021.39897
(34.694, 53.13]               1141.4451  16987.936691  63770.42801

In [40]:
import pandas as pd
df_pokemon = pd.read_csv("pokemon.csv")

In [41]:
df_pokemon.shape

(800, 13)

In [42]:
df_pokemon.dtypes

#              int64
Name          object
Type 1        object
Type 2        object
Total          int64
HP             int64
Attack         int64
Defense        int64
Sp. Atk        int64
Sp. Def        int64
Speed          int64
Generation     int64
Legendary       bool
dtype: object

In [43]:
df_pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

In [44]:
df_pokemon.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [46]:
# Imposta la prima colonna  come indice del DataFrame, mantenendo la colonna nel DataFrame
df_pokemon = df_pokemon.set_index('#', drop=False)

In [47]:
df_pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,,
1,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
719,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
719,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
720,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
720,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
721,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [52]:
df_leggendari = df_pokemon[df_pokemon['Legendary'] == True]

df_leggendari

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,,
144,144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
145,145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
146,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
150,150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
150,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
719,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
719,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
720,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
720,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
721,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [56]:
df_leggendari_erba = df_leggendari[(df_leggendari['Type 1'] == "Grass") ]
df_leggendari_erba

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,,
492,492,ShayminLand Forme,Grass,NaN,600,100,100,100,100,100,100,4,True
492,492,ShayminSky Forme,Grass,Flying,600,100,103,75,120,75,127,4,True
640,640,Virizion,Grass,Fighting,580,91,90,72,90,129,108,5,True

In [60]:
df_leggendari_ice_o_fire= df_leggendari[(df_leggendari['Type 1'] ==  "Ice") | (df_leggendari['Type 2'] == "Fire")]
df_leggendari_ice_o_fire

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,,
144,144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
378,378,Regice,Ice,NaN,580,80,50,100,100,200,50,3,True
383,383,GroudonPrimal Groudon,Ground,Fire,770,100,180,160,150,90,90,3,True
494,494,Victini,Psychic,Fire,600,100,100,100,100,100,100,5,True
643,643,Reshiram,Dragon,Fire,680,100,120,100,150,120,90,5,True

In [63]:
df_pokemon = df_pokemon.sort_values(by='Name', ascending=True)
df_pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,,
460,460,Abomasnow,Grass,Ice,494,90,92,75,92,85,60,4,False
460,460,AbomasnowMega Abomasnow,Grass,Ice,594,90,132,105,132,105,30,4,False
63,63,Abra,Psychic,NaN,310,25,20,15,105,55,90,1,False
359,359,Absol,Dark,NaN,465,65,130,60,75,60,75,3,False
359,359,AbsolMega Absol,Dark,NaN,565,65,150,60,115,60,115,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
571,571,Zoroark,Dark,NaN,510,60,105,60,120,60,105,5,False
570,570,Zorua,Dark,NaN,330,40,65,40,80,40,65,5,False
41,41,Zubat,Poison,Flying,245,40,45,35,30,40,55,1,False
634,634,Zweilous,Dark,Dragon,420,72,85,70,65,70,58,5,False
718,718,Zygarde50% Forme,Dragon,Ground,600,108,100,121,81,95,95,6,True

In [64]:
df_pokemon=df_pokemon.set_index("Name")

In [65]:
df_pokemon

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,,
Abomasnow,460,Grass,Ice,494,90,92,75,92,85,60,4,False
AbomasnowMega Abomasnow,460,Grass,Ice,594,90,132,105,132,105,30,4,False
Abra,63,Psychic,NaN,310,25,20,15,105,55,90,1,False
Absol,359,Dark,NaN,465,65,130,60,75,60,75,3,False
AbsolMega Absol,359,Dark,NaN,565,65,150,60,115,60,115,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...
Zoroark,571,Dark,NaN,510,60,105,60,120,60,105,5,False
Zorua,570,Dark,NaN,330,40,65,40,80,40,65,5,False
Zubat,41,Poison,Flying,245,40,45,35,30,40,55,1,False
Zweilous,634,Dark,Dragon,420,72,85,70,65,70,58,5,False
Zygarde50% Forme,718,Dragon,Ground,600,108,100,121,81,95,95,6,True

In [66]:
prima_generazione = df_pokemon[df_pokemon['Generation'] == 1]

# Filtra i Pokémon con attacco > 50 e HP < 60 nella prima generazione
pokemon_criterio = prima_generazione[(prima_generazione['Attack'] > 50) & (prima_generazione['HP'] < 60)]

# Stampiamo i Pokémon che soddisfano i criteri
print(pokemon_criterio)

              #    Type 1  Type 2  Total  HP  Attack  Defense  Sp. Atk  \
Name
Bellsprout   69     Grass  Poison    300  50      75       35       70
Charmander    4      Fire     NaN    309  39      52       43       60
Charmeleon    5      Fire     NaN    405  58      64       58       80
Cloyster     91     Water     Ice    525  50      95      180       85
Diglett      50    Ground     NaN    265  10      55       25       35
Doduo        84    Normal  Flying    310  35      85       45       35
Dratini     147    Dragon     NaN    300  41      64       45       50
Dugtrio      51    Ground     NaN    405  35      80       50       50
Eevee       133    Normal     NaN    325  55      55       50       45
Ekans        23    Poison     NaN    288  35      60       44       40
Farfetch'd   83    Normal  Flying    352  52      65       55       58
Geodude      74      Rock  Ground    300  40      80      100       30
Goldeen     118     Water     NaN    320  45      67       60       35
Graveler     75      Rock  Ground    390  55      95      115       45
Growlithe    58      Fire     NaN    350  55      70       45       70
Hitmonchan  107  Fighting     NaN    455  50     105       79       35
Hitmonlee   106  Fighting     NaN    455  50     120       53       35
Kabuto      140      Rock   Water    355  30      80       90       55
Kingler      99     Water     NaN    475  55     130      115       50
Koffing     109    Poison     NaN    340  40      65       95       60
Krabby       98     Water     NaN    325  30     105       90       25
Magneton     82  Electric   Steel    465  50      60       95      120
Mankey       56  Fighting     NaN    305  40      80       35       35
Nidoran♂     32    Poison     NaN    273  46      57       40       40
Paras        46       Bug   Grass    285  35      70       55       45
Pikachu      25  Electric     NaN    320  35      55       40       50
Ponyta       77      Fire     NaN    410  50      85       55       65
Psyduck      54     Water     NaN    320  50      52       48       65
Raticate     20    Normal     NaN    413  55      81       60       50
Rattata      19    Normal     NaN    253  30      56       35       25
Sandshrew    27    Ground     NaN    300  50      75       85       20
Seadra      117     Water     NaN    440  55      65       95       95
Shellder     90     Water     NaN    305  30      65      100       45
Spearow      21    Normal  Flying    262  40      60       30       31
Wartortle     8     Water     NaN    405  59      63       80       65

            Sp. Def  Speed  Generation  Legendary
Name
Bellsprout       30     40           1      False
Charmander       50     65           1      False
Charmeleon       65     80           1      False
Cloyster         45     70           1      False
Diglett          45     95           1      False
Doduo            35     75           1      False
Dratini          50     50           1      False
Dugtrio          70    120           1      False
Eevee            65     55           1      False
Ekans            54     55           1      False
Farfetch'd       62     60           1      False
Geodude          30     20           1      False
Goldeen          50     63           1      False
Graveler         45     35           1      False
Growlithe        50     60           1      False
Hitmonchan      110     76           1      False
Hitmonlee       110     87           1      False
Kabuto           45     55           1      False
Kingler          50     75           1      False
Koffing          45     35           1      False
Krabby           25     50           1      False
Magneton         70     70           1      False
Mankey           45     70           1      False
Nidoran♂         40     50           1      False
Paras            55     25           1      False
Pikachu          50     90           1      False
Ponyta           65     90           1      False
Psyduck          50     55           1      False
Raticate         70     97           1      False
Rattata          35     72           1      False
Sandshrew        30     40           1      False
Seadra           45     85           1      False
Shellder         25     40           1      False
Spearow          31     70           1      False
Wartortle        80     58           1      False

In [68]:
pokemon_criterio

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,,
Bellsprout,69,Grass,Poison,300,50,75,35,70,30,40,1,False
Charmander,4,Fire,NaN,309,39,52,43,60,50,65,1,False
Charmeleon,5,Fire,NaN,405,58,64,58,80,65,80,1,False
Cloyster,91,Water,Ice,525,50,95,180,85,45,70,1,False
Diglett,50,Ground,NaN,265,10,55,25,35,45,95,1,False
Doduo,84,Normal,Flying,310,35,85,45,35,35,75,1,False
Dratini,147,Dragon,NaN,300,41,64,45,50,50,50,1,False
Dugtrio,51,Ground,NaN,405,35,80,50,50,70,120,1,False
Eevee,133,Normal,NaN,325,55,55,50,45,65,55,1,False
Ekans,23,Poison,NaN,288,35,60,44,40,54,55,1,False
Farfetch'd,83,Normal,Flying,352,52,65,55,58,62,60,1,False
Geodude,74,Rock,Ground,300,40,80,100,30,30,20,1,False
Goldeen,118,Water,NaN,320,45,67,60,35,50,63,1,False
Graveler,75,Rock,Ground,390,55,95,115,45,45,35,1,False
Growlithe,58,Fire,NaN,350,55,70,45,70,50,60,1,False
Hitmonchan,107,Fighting,NaN,455,50,105,79,35,110,76,1,False
Hitmonlee,106,Fighting,NaN,455,50,120,53,35,110,87,1,False
Kabuto,140,Rock,Water,355,30,80,90,55,45,55,1,False
Kingler,99,Water,NaN,475,55,130,115,50,50,75,1,False
Koffing,109,Poison,NaN,340,40,65,95,60,45,35,1,False
Krabby,98,Water,NaN,325,30,105,90,25,25,50,1,False
Magneton,82,Electric,Steel,465,50,60,95,120,70,70,1,False
Mankey,56,Fighting,NaN,305,40,80,35,35,45,70,1,False
Nidoran♂,32,Poison,NaN,273,46,57,40,40,40,50,1,False
Paras,46,Bug,Grass,285,35,70,55,45,55,25,1,False
Pikachu,25,Electric,NaN,320,35,55,40,50,50,90,1,False
Ponyta,77,Fire,NaN,410,50,85,55,65,65,90,1,False
Psyduck,54,Water,NaN,320,50,52,48,65,50,55,1,False
Raticate,20,Normal,NaN,413,55,81,60,50,70,97,1,False
Rattata,19,Normal,NaN,253,30,56,35,25,35,72,1,False
Sandshrew,27,Ground,NaN,300,50,75,85,20,30,40,1,False
Seadra,117,Water,NaN,440,55,65,95,95,45,85,1,False
Shellder,90,Water,NaN,305,30,65,100,45,25,40,1,False
Spearow,21,Normal,Flying,262,40,60,30,31,31,70,1,False
Wartortle,8,Water,NaN,405,59,63,80,65,80,58,1,False